.course .link{
    width:350px;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0.7px 0.7px 1.5px 1.5px rgb(173, 173, 173);
    border-radius: 3px;
    margin: 20px;
    background-color:rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.course .link:hover{
    width:350px;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0.4px 1px 1.2px 2px rgb(0, 0, 0);
    border-radius: 3px;
    margin: 20px;
    background-color:rgb(255, 255, 255);
    padding: 10px;
}


.courseImg{
    width: 100%;
    height:200px;
    object-fit: fill;
    box-shadow: 1px 1px 10px rgb(49, 49, 49);
    margin-bottom: 5px;
    border-radius: 3px;
}

.courseTitle{
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
    line-height: 25px;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.courseAuthor{
    text-align: center;
    color: #888;
    margin-top: 10px;
    font-size: 15px;
}

.courseRating{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}


.courseReleseTime{
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    justify-content: center;
    text-align: center;
}


.courseRatingPoint, .courseReviewCount{
    margin-right: 10px;
}

.courseFilledStar{
    font-size: 15px;
    padding: 2px;
}

.coursePrice{
    font-size:18px;
    text-align: center;
    margin-top: 10px;
    line-height: 25px;
    color: rgb(0, 0, 0);
}

.link {
    text-decoration: none;
    text-transform: none;
}

.link:link, .link:visited {
    text-decoration: none;
    color: black;
}
  
.link:hover, .link:active {
    text-decoration: none;
}